<fieldset class="auth-field{{#if className_field}} {{className_field}}{{/if}}">
    <label for="{{id}}" class="auth-field__label{{#if className_label}} {{className_label}}{{/if}}">{{label}}</label>
    <input id="{{id}}" name="{{name}}" type="{{#if type}}{{type}}{{else}}text{{/if}}" class="auth-field__input{{#if className_input}} {{className_input}}{{/if}}" placeholder="{{placeholder}}"/>
    {{#if tip}}<span class="auth-field__tip">{{tip}}</span>{{/if}}
</fieldset>
