<div class="container profile">
    <nav class="profile__nav"><a href="#" class="profile__nav-link">Назад</a></nav>
    <main class="profile__main">
        {{{avatar}}}
        <form action="#" class="profile__form profile-form">
            <p class="profile-form__username">{{username}}</p>
            {{#each profileFields}}
                {{{this}}}
            {{/each}}
            <ul class="profile-form__link-list">
                {{#each linkItems}}
                    {{{this}}}
                {{/each}}
            </ul>
            {{{button}}}
        </form>
    </main>
</div>
<dialog {{#if isModal}}open{{/if}} class="modal">
    <form action="#" class="modal__form form-modal">
        <p class="form-modal__text">Загрузите файл</p>
        <fieldset class="form-modal__field">
            <label for="avatar" class="form-modal__label">
                Выбрать файл на компьютере
            </label>
            <input id="avatar" name="avatar" type="file" class="form-modal__input hide"/>
        </fieldset>
        <div class="form-modal__footer">
            {{{buttonModal}}}
            <p class="form-modal__tip hide">Нужно выбрать файл</p>
        </div>
    </form>
</dialog>
