{{#if isLink}}
    <a
            href="{{href}}"
            class="
                {{className}}
                {{#if size}}size_{{size}}{{/if}}
                {{#if style}}style_{{style}}{{/if}}
            "
    >
        {{text}}
    </a>
{{else}}
    <button
            type="{{type}}"
            class="
                {{className}}
                {{#if size}}size_{{size}}{{/if}}
                {{#if style}}style_{{style}}{{/if}}
            "
    >
        {{text}}
    </button>
{{/if}}
