<fieldset class="form-field {{#if class_field}}{{class_field}}{{/if}}">
    <label for="{{id}}" class="form-field__label {{#if class_label}}{{class_label}}{{/if}}">{{text}}</label>
    <input id="{{id}}" type="{{#if type}}{{type}}{{else}}text{{/if}}" class="form-field__input {{#if class_input}}{{class_input}}{{/if}}"/>
</fieldset>