<fieldset class="profile-form__field profile-field {{#if className_field}}{{className_field}}{{/if}}">
    <label for="{{id}}" class="profile-field__label {{#if className_label}}{{className_label}}{{/if}}">{{label}}</label>
    <input
            id="{{id}}"
            name="{{name}}"
            type="{{#if type}}{{type}}{{else}}text{{/if}}"
            class="profile-field__input {{#if className_input}}{{className_input}}{{/if}}"
            value="{{value}}"
            {{#if isDisabled}}disabled{{/if}}
    />
</fieldset>
