<li class="profile-form__item link-item {{#if class_item}}{{class_item}}{{/if}}">
    <a href="{{#if href}}{{href}}{{else}}#{{/if}}" class="link-item__link {{#if class_link}}{{class_link}}{{/if}}">
        {{text}}
    </a>
</li>