<li class="profile-form__item link-item {{#if className_item}}{{className_item}}{{/if}}">
    <a href="{{#if href}}{{href}}{{else}}#{{/if}}" class="link-item__link {{#if className_link}}{{className_link}}{{/if}}">
        {{text}}
    </a>
</li>
